<nav class="rounded-0 fixed-bottom navbar navbar-dark navbar-expand-lg  navbar-toggler bg-dark footer">
    <ul class="navbar-nav mx-auto footer-contents">
      <li class="nav-item">
        git hub/coffee? coh2.org? reddit?
      </li>
    </ul>

    © 2023 cohleague.com
This is an unofficial fan-made site for tournaments involving Company Of Heroes.

Company of Heroes is registered trademark of SEGA Holdings. Co
The COH Images and other assets are owned by Relic Entertainment and/or SEGA
</nav>
