<nav class="rounded-0 fixed-top navbar navbar-dark navbar-expand-lg  navbar-toggler bg-dark">

    <span class="navbar-brand"><a href="#" routerLink="/home">COH - LEAGUE</a> </span>
        <!-- //TODO - have logo redirect to home page -->
        <button class=" btn btn-primary navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navlist">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-down" viewBox="0 0 16 16">
                <path d="M3.204 5h9.592L8 10.481 3.204 5zm-.753.659 4.796 5.48a1 1 0 0 0 1.506 0l4.796-5.48c.566-.647.106-1.659-.753-1.659H3.204a1 1 0 0 0-.753 1.659z" />
            </svg>
        </button>

        <div class="navbar-collapse collapse " id="navlist">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#" routerLink="/tournaments">Tournaments</a> 
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" routerLink="/rankings">Rankings</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" routerLink="/tools">Tools</a>
                </li>
            </ul>
    </div>
</nav>
