<!-- frontpage container -->
<div class="container align-items-center justify-content-center frontpage-container">
    <!-- tournament/ranking row -->
    <div class="row tour-rank-row">
        <!-- active tournament row -->
        <div class="column-fluid col-6">
            <div class="row tour-row">
                <div class="column-fluid col-12 tour-col">
                    <div *ngFor = "let livetour of liveTournaments" class="tour-div">
                        {{livetour.name}}
                        {{livetour.game}}
                        {{livetour.date}}
                    </div>>
                </div>
            </div>
            <!-- upcoming tournament row -->
            <div class="row tour-row">
                <div class="column-fluid col-12 tour-col">
                    Upcoming tournaments? 
                </div>
            </div>
        </div>
        
        <!-- rankings col    -->
        <div class="column-fluid col-6 d-flex">
            player rankings
            swdoknhfgvosd
            fdsnokgvnho
            sadoikfhbn
            dasoijhbfoidn
            doibfo
        </div>
       
    </div>
    <!-- live twitch row -->
    <div class= "row twitch-row">
        <div class="column-fluid col d-flex">
            Twitch Integretation for CoH 2/ 3
        </div>
    </div>
</div>


have bracket / schedule option  ( shows results + more details? faction/vps?)
