<div class="d-flex align-items-center justify-content-center frontpage-container">
    <div class="row frontpage-row">
        <div class="column-fluid col d-flex live-tour">
            Live tournaments? 
        </div>
           
        <div class="column-fluid col d-flex upcoming-tour">
            player rankings
            swdoknhfgvosd
            fdsnokgvnho
            sadoikfhbn
            dasoijhbfoidn
            doibfo
        </div>
    </div>
    <div class= "row frontpage-row">
        <div class="column-fluid col d-flex">
            Live twitch channels? for coh2/ coh3? (hosting tournaments get priority)
        </div>
    </div>
</div>


have bracket / schedule option  ( shows results + more details? faction/vps?)
